@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;300;400;500;600;700;800;900&family=Inter:wght@300;400;600;700;800&display=swap&family=Playball&display=swap');

:root {
  --accent: #c3d3e7;
  --primary: #edf0f4;
  --secondary: #7b8592;
  --tertiary: #394756;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  position: relative;
  overflow-x: hidden;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  padding: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul h1,
footer .logo h1 {
  font-size: 2.3em;
  font-family: 'Playball', cursive;
  color: var(--tertiary);
}

nav ul #hamburger-menu {
  padding: 0.8rem 1.1rem;
  background-color: transparent;
  color: var(--tertiary);
  border: 2px solid var(--tertiary);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s all ease;
}

nav ul #hamburger-menu:hover {
  background-color: var(--tertiary);
  color: var(--primary);
}

nav ul .nav-menu {
  position: absolute;
  display: flex;
  top: calc(1rem * 2 + 46.4px);
  right: calc(-226.55px + (-10px));
  flex-direction: column;
  padding: 2rem 0;
  width: 60%;
  background-color: var(--primary);
  height: calc(100vh - (1rem * 2 + 46.4px));
  z-index: 9999;
  transition: 0.3s all ease;
}

nav ul .nav-menu.show {
  right: 0;
}

nav ul .nav-menu a {
  color: var(--tertiary);
  text-decoration: none;
  padding: 0.8rem 2rem;
  font-weight: 600;
  transition: 0.3s all ease;
}

nav ul .nav-menu a:hover {
  background: var(--tertiary);
  color: var(--primary);
}

nav ul .nav-menu a:first-child {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}

nav ul .nav-menu a:last-child {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}

section#home {
  padding: calc(5rem + (1rem * 2 + 46.4px)) 1rem;
}

section#package,
section#call {
  position: relative;
  padding: 5rem 1rem;
}

section#home .text-1 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
  margin-bottom: 5rem;
}

section#home .text-1 h1 {
  font-size: 2em;
  color: var(--tertiary);
}

section#home .text-1 p {
  font-size: 1.1em;
  color: var(--secondary);
}

section#home .content {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 3rem;
  margin: auto;
}

section#home .content .col-7 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section#home .content .col-7 .img {
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}

section#home .content .col-7 .img img {
  width: 100%;
}

section#home .content .col-7 .img fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

section#home .content .col-7 .item {
  max-width: 80%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 2rem;
}

section#home .content .col-7 .item::after {
  content: '';
  width: 30%;
  display: flex;
  margin: 0 auto;
  height: 5px;
  border-radius: 20px;
  background-color: var(--primary);
}

section#home .content .col-7 .item p {
  font-style: italic;
  color: var(--secondary);
}

section#home .content .col-7 .item .profile {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

section#home .content .col-7 .item .profile span {
  padding: 1rem;
  background-color: var(--primary);
  border-radius: 50%;
  color: var(--secondary);
}

section#home .content .col-7 .item .profile .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

section#home .content .col-7 .item .profile .text h6 {
  font-size: 0.9em;
  font-weight: 600;
}

section#home .content .col-7 .item .profile .text p {
  font-size: 0.8em;
}

section#home .content .col-7 > h6 {
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

section#home .content .col-7 .services {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section#home .content .col-7 .services .service {
  display: flex;
  align-items: center;
  max-width: 100%;
  gap: 1.5rem;
}

section#home .content .col-7 .services .service span {
  padding: 1rem 1.3rem;
  background-color: var(--primary);
  border-radius: 50%;
  font-weight: 700;
  color: var(--secondary);
}

section#home .content .col-7 .services .service p {
  color: var(--secondary);
  line-height: 1.5;
}

section#home .content .col-5 {
  max-width: 100%;
}

section#home .content .col-5 .card {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: var(--primary);
  border-radius: 10px;
}

section#home .content .col-5 .card .text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

section#home .content .col-5 .card .text h6 {
  font-size: 1.5em;
  color: var(--tertiary);
}

section#home .content .col-5 .card .text p {
  color: var(--secondary);
  line-height: 1.5;
}

section#home .content .col-5 .card .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

section#home .content .col-5 .card .form-group label {
  font-weight: 600;
  color: var(--tertiary);
}

section#home .content .col-5 .card .form-group input,
section#home .content .col-5 .card .form-group select {
  padding: 1rem 0.5rem;
  color: var(--secondary);
  border: 3px solid var(--accent);
  border-radius: 7px;
  outline: none;
  transition: all 0.3s ease;
}

section#home .content .col-5 .card .form-group select {
  cursor: pointer;
}

section#home .content .col-5 .card .form-group input:focus,
section#home .content .col-5 .card .form-group select:focus {
  box-shadow: 0 0 10px 2px var(--accent);
}

section#home .content .col-5 .card button {
  padding: 1rem;
  width: 100%;
  font-weight: 600;
  font-size: 1em;
  color: var(--primary);
  background-color: var(--tertiary);
  border: 0;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease;
}

section#home .content .col-5 .card button:hover {
  background-color: var(--secondary);
}

section#home .content .col-5 .card button:focus {
  box-shadow: 0 0 10px 2px var(--tertiary);
}

.heading {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  padding: 3rem 5rem;
}

.heading h1 {
  font-size: 2rem;
  color: var(--tertiary);
}

section#package,
section#call {
  border-bottom: 2px solid var(--primary);
}

section#package .wrapper {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

section#package .wrapper .row {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

section#package .wrapper .row .col {
  /* width: 33.33333%; */
  flex: 1 1 auto;
}

section#package .wrapper .row .col .group {
  display: flex;
  align-items: baseline;
  gap: 1.5rem;
}

section#package .wrapper .row .col .group span {
  padding: 1rem;
  background-color: var(--primary);
  border-radius: 50%;
  color: var(--secondary);
}

section#package .wrapper .row .col .group .desc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section#package .wrapper .row .col .group .desc h6 {
  font-size: 1.2em;
  color: var(--tertiary);
}

section#package .wrapper .row .col .group .desc p {
  line-height: 1.5;
  color: var(--secondary);
}

section#call .wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
  max-width: 100%;
  text-align: center;
}

section#call .wrapper h1 {
  font-size: 2rem;
  color: var(--tertiary);
  letter-spacing: 1.2px;
  text-transform: capitalize;
}

section#call .wrapper p {
  font-size: 1rem;
  line-height: 1.5;
  text-transform: capitalize;
  color: var(--secondary);
}

section#call .wrapper button {
  padding: 1rem 3rem;
  color: var(--primary);
  background-color: var(--tertiary);
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1.5rem;
  font-size: 1rem;
  outline: none;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s all ease;
}

section#call .wrapper button:hover {
  background-color: var(--secondary);
}

footer {
  padding: 3rem 4rem;
  position: relative;
  text-align: center;
}

footer .logo {
  margin-bottom: 1rem;
}

footer .terms {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 0.5rem;
}

footer .terms a,
footer > p {
  letter-spacing: 1px;
  color: var(--secondary);
  text-decoration: none;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

/* Media Query Medium */
@media (min-width: 768px) {
  nav {
    position: sticky;
    top: 0;
    padding: 1.5rem 4rem;
  }

  nav ul .nav-menu {
    position: relative;
    height: auto;
    display: flex;
    right: 0;
    top: 0;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
    width: auto;
    padding: 0;
    transition: none;
  }

  nav ul #hamburger-menu {
    display: none;
  }

  nav ul .nav-menu a {
    margin-left: -1px;
    font-weight: normal;
    margin-right: 2px;
    border: 1px solid var(--tertiary);
    padding: 0.5rem 1rem;
  }

  nav ul .nav-menu a:first-child {
    border-start-start-radius: 8px;
    border-end-start-radius: 8px;
  }

  nav ul .nav-menu a:last-child {
    border-start-end-radius: 8px;
    border-end-end-radius: 8px;
  }

  section#home,
  section#package,
  section#call {
    padding: 5rem 4rem;
  }

  section#home .content {
    flex-direction: row;
    gap: 2rem;
  }

  /* section#home .content .col-7 {
        max-width: 100%;
    } */

  /* section#home .content .col-7 .item {
        max-width: 80%;
    } */

  /* section#home .content .col-7>h6 {
        line-height: 1.5;
    } */

  /* section#home .content .col-7 .services .service {
        max-width: 100%;
        gap: 1.5rem;
    } */

  section#home .content .col-5 .card {
    padding: 2rem;
  }

  section#package .wrapper {
    gap: 10rem;
  }

  /* section#package .wrapper .row {
        gap: 0;
    } */

  section#package .wrapper .row .col {
    flex: 0 1 300px;
    /*  300px atau 250px  */
  }

  /* section#package .wrapper {
        gap: 10rem;
    } */

  /* section#call .wrapper {
        max-width: 100%;
    } */

  .heading {
    padding: 5rem;
  }
}

/* Media Query Large */
@media (min-width: 992px) {
  nav ul .nav-menu a {
    padding: 0.8rem 2rem;
  }

  section#home .content {
    gap: 3rem;
  }

  section#home .content .col-7 {
    max-width: 60%;
  }

  section#home .content .col-7 .item {
    max-width: 50%;
  }

  section#home .content .col-7 > h6 {
    line-height: 2;
  }

  section#home .content .col-7 .services .service {
    max-width: 50%;
    gap: 2rem;
  }

  section#home .content .col-5 .card {
    padding: 3rem;
  }

  /* section#package .wrapper .row {
        gap: 3rem;
    } */

  section#package .wrapper .row .col {
    flex: 0 1 350px;
  }

  section#package .wrapper {
    gap: 13rem;
  }

  section#call .wrapper {
    max-width: 50%;
  }
}
